@import url("//fonts.googleapis.com/css?family=Hammersmith+One");
@import url("//fonts.googleapis.com/css?family=Exo+2:300");
#topbar { background-color: #F16529; }
#topbar ul li > a { background-color: #F16529; }
#topbar ul li > a:focus, #topbar ul li > a:hover { background-color: #E44D26; }
#topbar .fa { font-size: 150%; vertical-align: middle; }

h1, h2, h3, h4, h5, h6, body, .label, .button { font-family: "Exo 2", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; }

h1 { border-bottom: 1px solid #eee; line-height: 1; margin-bottom: 20px; }

#app { display: none; }

#libs .label { cursor: pointer; font-size: 100%; line-height: 1.2; margin-right: 10px; }

#code { overflow-x: scroll; }

#customLibs > div:first-child { margin-top: 20px; }
#customLibs .postfix { background-color: #F04124; color: white; cursor: pointer; }
#customLibs .postfix .fa { margin-left: 2px; }
