<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Bookmarkletify</title>
    <link rel="stylesheet" href="/css/foundation.css"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"/>
    <link rel="stylesheet" href="/css/highlight.js/solarized_dark.css"/>
    <link rel="stylesheet" href="/css/main.css"/>
    <script src="/js/lib/modernizr.js"></script>
  </head>
  <body ng-app="bookmarkletify" ng-controller="MainCtrl">

    <nav id="topbar" class="top-bar">
      <ul class="title-area">
        <li class="name"><h1><a href="#">
          <i class="fa fa-bookmark"></i>
          Bookmarkletify
        </a></h1></li>
        <!--<li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>-->
      </ul>
      <section class="top-bar-section"> <!-- Right Nav Section -->
        <ul class="right">
          <li><a href="https://github.com/Pyppe/bookmarkletify">View on Github&nbsp;<i class="fa fa-github"></i></a></li>
        </ul>
      </section>
    </nav>

    <div id="app">
      <div class="row">
        <div class="columns large-12">
          <h1>Step 1 <small>load JavaScript</small></h1>
          <form>
            <div class="row">
              <div class="large-12 columns" id="libs">
                <span class="label" data-tooltip title="{{lib.name}} ({{lib.version}})" ng-repeat="lib in libs" ng-class="{ secondary: !lib.selected }" ng-click="lib.selected = !lib.selected;">{{lib.name}}</span>
                <div id="customLibs">
                  <div class="row" ng-repeat="lib in customLibs">
                    <div class="row collapse">
                      <div class="small-9 columns">
                        <input type="url" ng-model="lib.url" placeholder="URL, e.g. http://www.example.org/mylib.js" />
                      </div>
                      <div class="small-3 columns">
                        <span class="postfix alert" ng-click="removeCustomLib(lib)">
                          Remove&nbsp;<i class="fa fa-trash-o fa-lg"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div style="margin-top: 10px;">
                  <button class="button success" ng-click="addLib()">Add own library</button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="columns large-12">
          <h1>Step 2 <small>load CSS</small></h1>
        </div>
        <div class="columns large-12">
          <h1>Step 3 <small>use your bookmarklet</small></h1>
        </div>
        <div class="columns large-12">
          <pre id="code" ng-bind-html="bookmarkJs() | rawCode"></pre>
        </div>
        <div class="columns large-12">
          <textarea ng-model="bookmarklet" readonly></textarea>
        </div>
      </div>
    </div>

    <script src="/js/lib/jquery.js"></script>
    <script src="/js/lib/foundation.min.js"></script>
    <script src="/js/lib/lodash.compat.min.js"></script>
    <script src="/js/lib/highlight.pack.js"></script>
    <script src="/js/lib/uglifyjs.1.2.5.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
    <script>
      $(document).foundation();
    </script>
    <script src="/js/app.js"></script>
  </body>
</html>
