@import "compass";

$mainColor: #F16529;
$mainColor2: #E44D26;

.main article {
  width: inherit;
}

.header-container {
  h1 i {
    font-size: 150%;
    line-height: 0.5;
    vertical-align: middle;
    color: $mainColor2;
    @include text-shadow(0 0 2px rgba(white, 0.9));
  }
  a:hover {
    text-decoration: none;
    @include text-shadow(0 0 3px rgba(black, 0.9));
  }

}

.footer-container {
  a {
    color: white;
    text-decoration: none;
    &:hover {
      text-decoration: none;
      @include text-shadow(0 0 3px rgba(black, 0.9));
    }
  }
}